---
name: Continuous Integration

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/badges/*.svg'
      - 'www/coverage/**'

env:
  IMAGE_NAME: fakebank

jobs:
  #  changes:
  #    name: "Checking folders for changes"
  #    runs-on: ubuntu-latest
  #    outputs:
  #      app: ${{ steps.changes.outputs.app }}
  #    steps:
  #      - name: "Checkout"
  #        uses: actions/checkout@v6
  #      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
  #        id: changes
  #        with:
  #          filters: |
  #            app:
  #              - 'fakebank-impl/**'
  #              - 'fakebake-api/**'
  vale:
    name: Vale
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: errata-ai/vale-action@d89dee975228ae261d22c15adcd03578634d429c
        with:
          fail_on_error: true
          reporter: github-check
          vale_flags: "--glob=*.{md,txt}"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
      - uses: actions/checkout@v5
        with:
          # Full git history is needed to get a proper list of changed files
          # within `super-linter`
          fetch-depth: 0
          persist-credentials: false
      - uses: super-linter/super-linter/slim@ffde3b2b33b745cb612d787f669ef9442b1339a6
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          IGNORE_GENERATED_FILES: true
          MARKDOWN_CONFIG_FILE: .markdown-lint.yaml
          SUPPRESS_POSSUM: true
          VALIDATE_CSS: false
          VALIDATE_CSS_PRETTIER: false
          VALIDATE_CHECKOV: false
          VALIDATE_GOOGLE_JAVA_FORMAT: false
          VALIDATE_HTML: false
          VALIDATE_HTML_PRETTIER: false
          VALIDATE_JAVA: false
          VALIDATE_JAVASCRIPT_ES: false
          VALIDATE_JAVASCRIPT_PRETTIER: false
          VALIDATE_JSCPD: false
          VALIDATE_JSON: false
          VALIDATE_JSON_PRETTIER: false
          VALIDATE_YAML_PRETTIER: false
  build:
    needs: [lint, vale]
    #    if: ${{ needs.changes.outputs.app == 'true' }}
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Maven Dependency Tree Dependency Submission
        uses: advanced-security/maven-dependency-submission-action@v5.0.0
      - name: Build with Maven
        run: mvn -B package --file pom.xml -P coverage
      - name: Publish package
        run: mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@72266185b7ee48a6fd74eaf0238395cc8b14fef8
        with:
          generate-branches-badge: true
          jacoco-csv-file: www/coverage/jacoco.csv
          coverage-label: Coverage
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e
        with:
          token: ${{ secrets.FAKEBANK_CREATE_PR }}
          title: "[create-pull-request] Update Jacoco coverage report"
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          commit-message: |
            Update Jacoco coverage report from commit ${{ github.sha }}
          body: |
            Update Jacoco coverage report from commit ${{ github.sha }}
          add-paths: |
            .github/badges/*.svg
            www/coverage
      - name: Upload JaCoCo coverage report
        uses: actions/upload-artifact@v5
        with:
          name: jacoco-report
          path: 'www/coverage/'
  build-store-image:
    needs: [build]
    #    if: ${{ needs.changes.outputs.app == 'true' }}
    name: Build and store image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: 'Build fakebank image'
        run: |
          docker build --file docker-compose/Dockerfile.fakebank . --tag $IMAGE_NAME --label "runnumber=${GITHUB_RUN_ID}"
      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
      - name: Push image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME

          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
          # Use Docker `latest` tag convention
          [ "$VERSION" == "main" ] && VERSION=latest
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
