---
name: Pull Request

on:
  pull_request:

env:
  IMAGE_NAME: fakebank

jobs:
  #  changes:
  #    name: "Checking folders for changes"
  #    runs-on: ubuntu-latest
  #    outputs:
  #      app: ${{ steps.changes.outputs.app }}
  #    steps:
  #      - name: "Checkout"
  #        uses: actions/checkout@v6
  #      - uses: dorny/paths-filter@v3.0.2
  #        id: changes
  #        with:
  #          filters: |
  #            app:
  #              - 'fakebank-impl/**'
  #              - 'fakebake-api/**'
  vale:
    name: Vale
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: errata-ai/vale-action@reviewdog
        with:
          fail_on_error: true
          reporter: github-check
          vale_flags: "--glob=*.{md,txt}"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  build:
    needs: [vale]
    #    if: ${{ needs.changes.outputs.app == 'true' }}
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Cache local Maven repository
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Maven Dependency Tree Dependency Submission
        uses: advanced-security/maven-dependency-submission-action@v5.0.0
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Upload JaCoCo coverage report
        uses: actions/upload-artifact@v6
        with:
          name: jacoco-report
          path: 'www/coverage'
  build-image:
    needs: [build]
    #    if: ${{ needs.changes.outputs.app == 'true' }}
    name: Build Image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: 'Build fakebank image'
        run: |
          docker build --file docker-compose/Dockerfile.fakebank .
