---
name: "Terraform Apply"

on:
  push:
    branches:
      - main

env:
  TF_CLOUD_ORGANIZATION: "ianrobrien"
  TF_API_TOKEN: "${{ secrets.TF_API_TOKEN }}"
  TF_WORKSPACE: "fakebank"
  CONFIG_DIRECTORY: "./infrastructure/terraform"

jobs:
  changes:
    name: "Checking folders for changes"
    runs-on: ubuntu-latest
    outputs:
      terraform: ${{ steps.changes.outputs.terraform }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: changes
        with:
          filters: |
            terraform:
              - 'infrastructure/terraform/**'

  terraform:
    needs: changes
    if: ${{ needs.changes.outputs.terraform == 'true' }}
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Upload Configuration
        uses: hashicorp/tfc-workflows-github/actions/upload-configuration@8e08d1ba957673f5fbf971a22b3219639dc45661
        id: apply-upload
        with:
          workspace: ${{ env.TF_WORKSPACE }}
          directory: ${{ env.CONFIG_DIRECTORY }}

      - name: Create Apply Run
        uses: hashicorp/tfc-workflows-github/actions/create-run@8e08d1ba957673f5fbf971a22b3219639dc45661
        id: apply-run
        with:
          workspace: ${{ env.TF_WORKSPACE }}
          configuration_version: ${{ steps.apply-upload.outputs.configuration_version_id }}

#      - name: Apply
#        uses: hashicorp/tfc-workflows-github/actions/apply-run@v1.0.0
#        if: fromJSON(steps.apply-run.outputs.payload).data.attributes.actions.IsConfirmable
#        id: apply
#        with:
#          run: ${{ steps.apply-run.outputs.run_id }}
#          comment: "Apply Run from GitHub Actions CI ${{ github.sha }}"
